.sources__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 210px;
  overflow: auto;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
  justify-content: center;
}

.source__item,
.filter__input,
.filter__button {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
}

.filter__button {
  padding-bottom: 1.1em;
  padding-top: 1.1em;
}

.source__item:hover,
.source__item:focus,
.filter__input:focus,
.filter__button:hover {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 1054px) {
  .filter {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 942px) {
  .filter {
    padding-bottom: 40px;
    flex-direction: row;
  }
}

@media (max-width: 515px) {
  .filter {
    flex-direction: column;
  }
}

.filter__input {
  width: 300px;
}

@media (max-width: 480px) {
  .filter__input {
    width: 230px;
  }
}