* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

.wrapper {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  flex: 0 0 auto;
  padding-top: 30px;
}

.header h1 {
  font-size: 85px;
  font-weight: 400;
  text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 10px #fff, 0 0 16px #30c5ff, 0 0 32px #30c5ff, 0 0 45px #30c5ff, 0 0 90px #30c5ff, 0 0 110px #30c5ff;
}

@media (max-width: 515px) {
  .header h1 {
    font-size: 55px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 942px) {
  .header__wrapper {
    flex-direction: column;
    align-items: baseline;
  }
}

@media (max-width: 480px) {
  .header__wrapper {
    align-items: center;
  }
}

.main {
  flex: 1 0 auto;
}

.footer__wrapper {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #30c5ff;
}

@media (max-width: 480px) {
  .footer__wrapper {
    font-size: 12px;
  }
}

.footer .copyright {
  text-align: center;
}

.footer .copyright a:hover,
.footer .copyright a:active,
.footer .copyright a:visited {
  color: #3fcc59;
}

.footer .copyright:before {
  content: '©';
}

.logo-rss {
  width: 120px;
}

@media (max-width: 480px) {
  .logo-rss {
    width: 80px;
  }

  .logo-github {
    width: 32px;
  }
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info span {
  margin-right: 10px;
}
